body {
  background-color: $bg-color;
}

.hidden {
  display: none;
}

h1 {
  color: $primary-font-color;
  font-size: $h1;
  line-height: $line-height-h1;
}

h2,
h3,
h4 {
  color: $secondary-font-color;
}

h2 {
  font-size: $h2;
  line-height: $line-height-h2;
}

h3 {
  font-size: $h3;
  line-height: $line-height-h3;
}

h4 {
  font-size: $h4;
  line-height: $line-height-h4;
  margin-bottom: $gutters;
}

p {
  color: $secondary-font-color;
  font-size: $content;
}

/* accessibility helper class */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
