.container {
  &--fluid {
    margin: 0;
    max-width: 100%;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  //loop through items in $map-grid-props
  @each $modifier, $breakpoint in $map-grid-props {
    @include create-col-classes($modifier, $grid__cols, $breakpoint);
  }

  @each $modifier, $breakpoint in $map-grid-props {
    @if ($modifier == "") {
      $modifier: "-xs";
    }

    @include create-mq($breakpoint, "min") {
      @if ($breakpoint >= $grid__bp-sm) {
        max-width: $breakpoint - ($gutters * 6);
        margin: 0 auto;
      }
    }
  }
}

@each $modifier, $breakpoint in $map-grid-props {
  @if ($modifier == "") {
    $modifier: "-xs";
  }
  @include create-mq($breakpoint - 1, "max") {
    .hidden#{$modifier}-down {
      display: none !important;
    }
  }
  @include create-mq($breakpoint, "min") {
    .hidden#{$modifier}-up {
      display: none !important;
    }
  }
}

.flex-align-center {
  align-self: center;
}

.align-right {
  text-align: right;
}
