/*** Variables ***/

/** Colors Declared **/
$black: #000;
$light-gray: #f8f8f8;
$charcoal: #3d5167;
$dk-gray: #555;
$blue: #2953bb;
$white: #fff;
$orange: #f7b166;
$dk-gray-bg: rgba(0, 0, 0, 0.5);
$box-shadow: rgba(199, 199, 199, 1);

/** Colors Defined **/
/* font colors */
$primary-font-color: $black;
$secondary-font-color: $charcoal;

/* bg colors */
$bg-color: $light-gray;
$secondary-bg-color: $white;
$modal-bg: $dk-gray-bg;

/* button colors */
$primary-btn-color: $blue;
$primary-hover-btn-color: darken($blue, 20%);
$secondary-btn-color: $white;

/* card colors */
$card-border: $orange;
$card-box-shadow: $box-shadow;

$modal-bg: $dk-gray-bg;

$input-borders: $dk-gray;

/** Font Sizing **/
$base-font-size: 14;
$line-height-px: 21;

//Calculates rem
@function rem($px: $line-height-px, $font-size: $base-font-size) {
  @return $px / $font-size * 1rem;
}

/* Declare variables based on rem function */
$h1: rem(24);
$h2: rem(20);
$h3: rem(18);
$h4: rem(14);
$content: rem(12);

$line-height-h1: rem(25);
$line-height-h2: rem(21);
$line-height-h3: rem(19);
$line-height-h4: rem(18);

/** Spacing **/
$gutters: 5px;

/** Breakpoints + Grid **/
$grid__bp-xs: 320;
$grid__bp-sm: 576;
$grid__bp-md: 768;
$grid__bp-lg: 992;
$grid__bp-xl: 1200;
$grid__cols: 12;

$map-grid-props: (
  "": 0,
  "-xs": $grid__bp-xs,
  "-sm": $grid__bp-sm,
  "-md": $grid__bp-md,
  "-lg": $grid__bp-lg,
  "-xl": $grid__bp-xl,
);
