/** Variables **/

/* Colors Declared */
$light-gray: #F8F8F8; 
$blue: #2953BB;
$white: #fff;
$orange: #F7B166;

/* Colors Defined */
$bg-color: $light-gray;
$secondary-bg-color: $white; 

$primary-btn-color: $blue;
$secondary-font-color: $white; 

$card-border: $orange;

/* Spacing */
$gutters: 5px;

/* Breakpoints + Grid */
$grid__bp-xs: 360;
$grid__bp-sm: 576;
$grid__bp-md: 768;
$grid__bp-lg: 992;
$grid__bp-xl: 1200;
$grid__cols: 12;

$map-grid-props: (
        '': 0,
        '-xs': $grid__bp-xs,
        '-sm': $grid__bp-sm,
        '-md': $grid__bp-md,
        '-lg': $grid__bp-lg,
        '-xl': $grid__bp-xl
);