.bookcard {
  background: $secondary-bg-color;
  border-left: 4px solid $card-border;
  margin-bottom: $gutters * 4;
  margin-left: $gutters * 4;
  margin-right: $gutters * 4;

  @include create-mq($grid__bp-md, "min") {
    margin-bottom: $gutters * 4;
    margin-left: $gutters * 4;
    margin-right: 0;
  }
}
